<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.demo.mapper.ExamMapper">

    <!-- List<ExamJudge> findExamJudgeByTestPaperId(Integer testPaperId);  -->
    <select id="findExamJudgeByTestPaperId" parameterType="Integer" resultType="ExamJudge">
        select ej.context, ej.score
        from exam e, exam_judge ej
        where e.problem_id = ej.id and e.type = 1
        and e.testpaper_id = #{testPaperId}
    </select>

    <!--  List<ExamSelect> findExamSelectByTestPaperId(Integer testPaperId);  -->
    <select id="findExamSelectByTestPaperId" parameterType="Integer" resultType="ExamSelect">
        select es.context, es.selection, es.score
        from exam e, exam_select es
        where e.problem_id = es.id and e.type = 2
        and e.testpaper_id = #{testPaperId}
    </select>

    <!--  List<ExamSubject> findExamSubjectByTestPaperId(Integer testPaperId);  -->
    <select id="findExamSubjectByTestPaperId" parameterType="Integer" resultType="ExamSubject">
        select es.context, es.score
        from exam e, exam_subject es
        where e.problem_id = es.id and e.type = 3
        and e.testpaper_id = #{testPaperId}
    </select>

    <select id="findAllFutureExam" resultType="com.exam.demo.entity.Testpaper">
        select *
        from testpaper
        where testpaper.start_time > (SELECT current_timestamp());
    </select>

    <select id="findAllHistoricalExam" resultType="com.exam.demo.entity.Testpaper">
        select *
        from testpaper
        where (SELECT current_timestamp()) > testpaper.dead_time;
    </select>

</mapper>