<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.demo.mapper.ExamJudgeMapper">

    <!--  ExamJudge findByIdAndMaterialQuestion(Integer id) 材料题模块下专属查询方法 根据Id和MaterialQuestion查询  -->
    <select id="findByIdAndMaterialQuestion" parameterType="java.lang.Integer" resultType="com.exam.demo.entity.ExamJudge">
        select
               *
        from
             exam_judge
        where
              material_question = 1
          and
              id = #{id}
    </select>


</mapper>