<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.demo.mapper.ScoreDataMapper">

<!--    List<Object> findExamJudgeAnswerByTidAndUid(Integer testPaperId, Integer userID);-->
    <select id="findExamJudgeAnswerByTidAndUid" parameterType="Integer" resultType="ScoreData">
        select * from scoredata where testpaper_id = #{testPaperId} and user_id = #{userID} and `type` = 1;
    </select>


<!--    List<Object> findSingleSelectionAnswerByTidAndUid(Integer testPaperId, Integer userID);-->
    <select id="findSingleSelectionAnswerByTidAndUid" parameterType="Integer" resultType="ScoreData">
        select * from scoredata sd, exam_select es where sd.testpaper_id = #{testPaperId} and sd.user_id = #{userID}
        and sd.type = 2 and sd.problem_id = es.id and es.type = 1 and ;
    </select>

<!--    List<Object> findMultipleSelectionAnswerByTidAndUid(Integer testPaperId, Integer userID);-->
    <select id="findMultipleSelectionAnswerByTidAndUid" parameterType="Integer" resultType="ScoreData">
        select * from scoredata sd, exam_select es where sd.testpaper_id = #{testPaperId} and sd.user_id = #{userID}
        and sd.type = 2 and sd.problem_id = es.id and es.type = 2;
    </select>

<!--    List<Object> findExamSubjectAnswerByTidAndUid(Integer testPaperId, Integer userID);-->
    <select id="findExamSubjectAnswerByTidAndUid" parameterType="Integer" resultType="ScoreData">
        select * from scoredata where testpaper_id = #{testPaperId} and user_id = #{userID} and `type` = 3;
    </select>

<!--    List<Object> findExamFillBlankAnswerByTidAndUid(Integer testPaperId, Integer userID);-->
    <select id="findExamFillBlankAnswerByTidAndUid" parameterType="Integer" resultType="ScoreData">
        select * from scoredata where testpaper_id = #{testPaperId} and user_id = #{userID} and `type` = 4;
    </select>

    <!--Integer updateScoreDataByUserIdAndTestPaperId(Scoredata scoredata);-->

    <update id="updateScoreDataByUserIdAndTestPaperId" parameterType="com.exam.demo.entity.Scoredata">
        update scoredata set answer = #{answer},score = #{score}
        where user_id = #{userId} and testpaper_id = #{testpaperId} and problem_id = #{problemId} and `type` = #{type}
        <!--<set>-->
        <!--<if test="answer != null">answer = #{answer},</if>-->
        <!--<if test="score != null">score = #{score}</if>-->
        <!--</set>-->
    </update>
    <!--Integer insertScoreData(Scoredata scoredata);-->




    <insert id="insertScoreData">
        insert into scoredata(`testpaper_id`, `user_id`, `type`, `problem_id`, `answer`, `score`)
        values
        (#{testpaperId},#{userId},#{type},#{problemId},#{answer},#{score})
        <!--insert into scoredata-->
        <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
            <!--<if test="id != null">-->
                <!--id,-->
            <!--</if>-->
            <!--<if test="testpaper_id != null">-->
                <!--testpaper_id,-->
            <!--</if>-->
            <!--<if test="user_id != null">-->
                <!--user_id,-->
            <!--</if>-->
            <!--<if test="'type' != null">-->
                <!--'type',-->
            <!--</if>-->
            <!--<if test="problem_id != null">-->
                <!--problem_id,-->
            <!--</if>-->
            <!--<if test="answer != null">-->
                <!--answer,-->
            <!--</if>-->
            <!--<if test="score != null">-->
                <!--score,-->
            <!--</if>-->
        <!--</trim>-->
        <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
            <!--<if test="id != null">-->
                <!--#{id},-->
            <!--</if>-->
            <!--<if test="testpaperId != null">-->
                <!--#{testpaperId},-->
            <!--</if>-->
            <!--<if test="userId != null">-->
                <!--#{userId},-->
            <!--</if>-->
            <!--<if test="type != null">-->
                <!--#{type},-->
            <!--</if>-->
            <!--<if test="problemId != null">-->
                <!--#{problemId},-->
            <!--</if>-->
            <!--<if test="answer != null">-->
                <!--#{answer},-->
            <!--</if>-->
            <!--<if test="score != null">-->
                <!--#{score},-->
            <!--</if>-->
        <!--</trim>-->
    </insert>



</mapper>