<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.demo.mapper.ScoreMapper">

    <!--    List<UserTestPaperScore> findByUserId(Integer userId);-->
    <select id="findByUserId" parameterType="Integer" resultType="UserTestPaperScore">
        select tp.name as testPaperName,tp.totalscore,tp.passscore,tp.start_time,tp.time,u.name as userName,s.scorenum,s.status
        from score s, testpaper tp, user u
        where s.testpaper_id = tp.id and s.user_id = u.id
        and s.user_id = #{userId}
    </select>

    <!--    List<UserTestPaperScore> findByTestPaperId(Integer testPaperId);-->
    <select id="findByTestPaperId" parameterType="Integer" resultType="UserTestPaperScore">
        select tp.name as testPaperName,tp.totalscore,tp.passscore,tp.start_time,tp.time,u.name as userName,s.scorenum,s.status
        from score s, testpaper tp, user u
        where s.testpaper_id = tp.id and s.user_id = u.id
        and s.testpaper_id = #{testPaperId}
    </select>

    <!--    Double avgScoreByTestPaperId(Integer testPaperId);-->
    <select id="avgScoreByTestPaperId" parameterType="Integer" resultType="Double">
        select avg(s.scorenum) from score s, testpaper tp, user u
        where s.testpaper_id = tp.id and s.user_id = u.id
        and s.testpaper_id = #{testPaperId}
    </select>
</mapper>